{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
	<meta charset="utf-8">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src ="https://d3js.org/topojson.v3.min.js"></script>
    <title>ZeroVisual</title>
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <h1 id="greeting">welcome to ZeroVisual!</h1>
        <!--font@@@-->
        <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,500&family=Neonderthaw&family=Signika&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
    {% block contents %}
    {% endblock %}
    </div>
</body>

</html>
