{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
	<div class="col-12">
		<table class="table table-light">
			<thead class="thead-light">
				<tr>
					<th>#</th>
					<th>ip</th>
					<th>토르</th>
					<th>p/t</th>
                    <th>나라</th>
                    <th>지역</th>
                    <th>경도,위도</th>
				</tr>
			</thead>
			<tbody class="text-dark">
				<tr>
					<th>1</th>
					<td>125.138.211.193</td>
                    <td>False</td>
                    <td>peer</td>
                    <td>KR</td>
                    <td>Cheonan</td>
                    <td>36.7916,127.1192</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


{% endblock %}