{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-6">
        <button class="btn btn-primary btn-block" onclick="location.href='/board/crawler'">크롤링</button>
    </div>
</div>

<div class="row mt-5">
    <div class="col-6">
        <button class="btn btn-primary btn-block" onclick="location.href='/board/packet'">packet</button>
    </div>
</div>

{% for data in v_data %}
	<tr>
		{% for index in data %}
		<td>{{index}}</td>
		{% endfor %}
	</tr>
{% endfor %}

{% endblock %}